@model IEnumerable<MVC23.Controllers.VeiculoController.VehiculoTotal>

@{
    ViewData["Title"] = "Listado4";
}

<h1>Listado4</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Matricula")
            </th>
            <th>
                @Html.DisplayName("Color")
            </th>
            <th>
                @Html.DisplayName("Serie")
            </th
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_marca)
            </td>
        </tr>
}
    </tbody>
</table>
