@model IEnumerable<MVC23.Models.MarcaModelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th>
                @Html.DisplayName("Serie")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var marca in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => marca.ID)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => marca.Nom_marca)
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@marca.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@marca.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@marca.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
